<h1 class="text-success">Félicitation votre commande é bien été traité.</h1>

Status Final: <%= @session_with_expand.payment_status %>
<br>
Payé:
<%= @session_with_expand.amount_total/100.to_f %>
<%= @session_with_expand.currency %>
<br>

<% @session_with_expand.line_items.data.each do |line_item| %>
  <% product = Product.find_by(stripe_product_id: line_item.price.product) %>
  <hr>
  <p>
    <%= product.name %>
  </p>
<% end %>