<h1 class="text-success">Félicitation votre commande é bien été traité.</h1>

Status Final: <%= @session_with_expand.payment_status %>
<br>
Payé:
<%= @session_with_expand.amount_total/100.to_f %>
<%= @session_with_expand.currency %>