<h1 class="text-success">Félicitation votre commande é bien été traité.</h1>

<% if params[:session_id].present? %>
  <%# @session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
  <%#= @session.payment_intent %>
  <%#= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>

  
<% end %>